<div class="type_action">
  <button nz-button (click)="addData()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>Add
  </button>
  <br />
</div>
<nz-table [nzLoading]="isLoading" #basicTable nzBordered [nzData]="dataSource">
  <thead>
    <tr>
      <th>STT</th>
      <th>Type</th>
      <th>Seat Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ data.Name }}</td>
      <td>{{ data.SeatNumber }}</td>
      <td>
        <a (click)="Edit(data)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="showDeleteConfirm(data.Id,data.IsEnable)">{{data.IsEnable == 0? 'Active' : 'Deactive'}}</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [nzFooter]="modalFooter"
  [(nzVisible)]="isVisible"
  nzTitle="Bus Type"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <form
    nz-form
    [formGroup]="rfBusType"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input type!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="Name"
            placeholder="Name"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input seat number!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="number"
            nz-input
            formControlName="SeatNumber"
            placeholder="Seat Number"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">
        Cancel
      </button>

      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        type="submit"
        (click)="submitForm()"
      >
        Save
      </button>
    </ng-template>
  </form>

  
</nz-modal>
