.authen-content{
  background-image: url('https://file.vforum.vn/hinh/2015/12/meo-con-dang-yeu-lam-hinh-nen-may-tinh-11.jpg');
  height: 100vh;
  width: 100vw;
  background-repeat: round;
  display: flex;
  justify-content: center;
}
.authen-form{
  border-radius: 10px;
  width: 550px;
  height: 300px;
  background: #ffffff6b;
  align-self: center;
}

.login-form{
  margin: 30px!important;
  margin: auto;
}

.login-form-button{
  float: right;
}
