<div class="type_action">
  <button nz-button (click)="addData()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>Add
  </button>
  <br />
</div>
<nz-table [nzLoading]="isLoading" #basicTable nzBordered [nzData]="dataSource">
  <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ data.Name }}</td>
      <td>
        <a (click)="Edit(data)">View Map</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="Edit(data)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="showDeleteConfirm(data.Id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<!-- <div class="map"
     leaflet
     (leafletMapReady)="onMapReady($event)"
     [leafletOptions]="options"
     [leafletLayersControl]="layersControl"></div> -->

<nz-modal
  nzWidth="700"
  [nzFooter]="modalFooter"
  [(nzVisible)]="isVisible"
  nzTitle="Bus Locate"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
<input required nz-input [(ngModel)]="title" placeholder="Locate name" />
<br><br>
  <div class="login-form" (ngSubmit)="submitForm()">
    <div
      class="map"
      leaflet
      (leafletMapReady)="onMapReady($event)"
     
      (leafletDoubleClick)="onMapdoubleClick($event)"
      (leafletClick)="onMapClick($event)"
      [(leafletCenter)]="mapCenter"
      leafletZoom="15"
      [leafletOptions]="options"
      [(leafletLayers)]="layers"
    ></div>
    <!-- [leafletLayersControl]="layersControl" -->
    <ng-template #modalFooter>
      <button
        [nzLoading]="isLoading"
        nz-button
        nzType="default"
        (click)="handleCancel()"
      >
        Cancel
      </button>

      <button
        [nzLoading]="isLoading"
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        type="submit"
        (click)="submitForm()"
      >
        Save
      </button>
    </ng-template>
  </div>
</nz-modal>
