<div>
  <nz-collapse style="width: 60%; margin: auto;">
    <nz-collapse-panel nzHeader="Book Route Bus" [nzActive]="true">
      <form nz-form [formGroup]="rform" class="login-form">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" 
            >Route's name</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Please input !"
          >
            <input type="text" formControlName="name" nz-input placeholder="Name" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired
            >Pickup Location</nz-form-label
          >
          <nz-form-control
            nzErrorTip="Please input !"
            [nzSm]="14"
            [nzXs]="24"
          >
            <nz-select
              formControlName="locateId"
              nzPlaceHolder="Search by street, ward, district.."
              class="gender-select"
            >
              <nz-option *ngFor="let item of locates" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired
            >Start/End Date</nz-form-label
          >
          <nz-form-control
            nzErrorTip="Please input !"
            [nzSm]="14"
            [nzXs]="24"
          >
            <nz-range-picker formControlName="date"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button (click)="submitForm()" nz-button nzType="primary">Register</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-collapse-panel>
  </nz-collapse>

  <div class="type_action">

    <br />
  </div>
  <nz-table [nzLoading]="isLoading" #basicTable nzBordered [nzData]="dataDisplay">
    <thead>
      <tr>
        <th>STT</th>
        <th>
          Name
        </th>
        <th>Bus Number</th>
        <th>Max seat</th>
        <th>Driver</th>
        <th>Start Locate</th>
        <th>End Locate</th>
        <th>Parking</th>
        <th>Parking Fee</th>
        <th>Departure Time</th>
        <th>Arrive Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ data.Name }}
           
        </td>
        <td>{{ data.busNumber }}</td>
        <td>{{ data.maxSeat }}</td>
        <td>{{ data.driverName }} ({{data.driverAccount}})</td>
        <td>{{ data.FirstLocateName }}</td>
        <td>{{ data.EndLocateName }}</td>
        <td>{{ data.ParkingLot }}</td>
        <td>{{ data.ParkingFee | currency:"VND":true }}</td>
        <td>{{ data.DepartureTime | date:'HH:mm' }}</td>
        <td>{{ data.ArriveTime | date:'HH:mm' }}</td>

        <td>
          <a (click)="register(data)">Request</a>
        </td>
      </tr>
    </tbody>
  </nz-table>


  
  
</div>
