/* You can add global styles to this file, and also import other style files */
.type_action{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
}